.root {
    -fx-background-image: url("/images/alpsBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.label {
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 8, 0.3, 2, 2);
}