.root {
    -fx-background-image: url("/images/habitatBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}
.button:disabled {
    -fx-opacity: 0.70;
    -fx-background-color: rgba(240, 240, 240, 0.70);
    -fx-border-color: #555555;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.label-titolo {
    -fx-background-color: rgba(255, 255, 255, 0.55);
    -fx-background-radius: 20px;
    -fx-border-radius: 10px;
    -fx-border-color: trasparent;
    -fx-border-width: 0px;
    -fx-padding: 8px 24px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 8, 0, 0, 3);
}